/* App.css */
body {
    background-color: #81d4fa;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    margin: 0;
    color: #333;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .heading {
    margin-bottom: 20px;
  }
  
  .heading h1 {
    font-size: 2em;
    color: #1976d2;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-box {
    flex: 2.5; /* Adjust the size as needed */
    padding: 10px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1em;
  }
  
  .priority-dropdown {
    flex: 0.5; /* Adjust the size as needed */
    padding: 10px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1em;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }

  li.high-priority {
    background-color: #6DB9EF;
  }
  
  li.medium-priority {
    background-color: #aedcff;
  }
  
  li.low-priority {
    background-color: #cbe5ff;
  }
  
  li:hover {
    transform: scale(1.02);
  }
  
  li.completed {
    text-decoration: line-through;
    background-color: #81c784;
  }

  .date {
    font-size: 1rem;
    margin-top: 0;
    text-align: right;
    color: #555;
  }